.fl{
	float:left;
}
.fr{
	float:right;
}
.cart-table{
	width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
	th,td{
		border:1px solid #ccc;
		padding: 10px;
	}
	td{
		height: 60px;
		line-height: 60px;
		text-align: center;
		a{
			text-decoration: none;
			color: #666;
		}
		.img{
			position: relative;
			top: 10px;
		    width: 40px;
		    height: 40px;
		}
		.ckb{

		}
		.num{
		    width: 100px;
		    height: 28px;
		    line-height: 28px;
		}
		.minus,
		.add{

		}
		.operate{

		}
	}
}
.footer-bar{
	margin-top:20px;
}