$baseColor:#d00 #0d0 #00d #f50;
.main{
	&>a{
	    text-decoration: none;
	    width: 100px;
	    height: 100px;
	    line-height: 100px;
	    display: inline-flex;
	    justify-content: center;
	    color: #fff;
	    font-size: 24px;
	    &.link-1{
	    	background: nth($baseColor,1);
	    	&:hover{
	    		background: darken(nth($baseColor,1),10%);
	    	}
	    }
	    &.link-2{
	    	background: nth($baseColor,2);
	    	&:hover{
	    		background: darken(nth($baseColor,2),10%);
	    	}
	    }
	    &.link-3{
	    	background: nth($baseColor,3);
	    	&:hover{
	    		background: darken(nth($baseColor,3),10%);
	    	}
	    }
	    &.link-4{
	    	background: nth($baseColor,4);
	    	&:hover{
	    		background: darken(nth($baseColor,4),10%);
	    	}
	    }
	}
}