.nav{
    list-style-type: none;
	li{
		border-left: 2px dashed #e4e4e4;
		padding-left: 35px;
		position: relative;
		&:before{
			content: "";
			background: url(../imgs/icon-nav.png);
			width: 36px;
			height: 44px;
			display: inline-block;
			position: absolute;
    		left: -18px;
		}
		h3{
			display: inline-block;
		}
	}
}