$fontSize: 14px;
$colorFont666: #666;
$linkColor: #d88 #d00 !default;//第一个值为默认值，第二个为hover值
.pabel{
	display: flex;
  	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label-box{
	margin: 20px auto 0;
    width: 250px;
	label{
		display: inline-flex;
		text-align: right;
		width: 120px;
    	margin-bottom: 10px;
    	color: $colorFont666;
	}
	input{
		width: 240px;
		height: 30px;
    	text-indent: 10px;
	}
}
.pws-level-bar{
	margin-top:20px;
	span{
		display: flex;
		i{
		    display: inline-flex;
		    margin: auto 10px auto 0;
		    width: 40px;
		    height: 10px;
		    background-color: #08c;
			background-color: nth($linkColor, 1);
			&.light{
				background-color: nth($linkColor, 2);
			}
			&.noLight{
				background-color: nth($linkColor, 1);
			}
		}
	}
}
.btn{
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
}
.btn-l{
    width: 240px;
    height: 36px;
    font-size: 20px;
}
.btn-b0{
    border: 1px solid #d02e6a;
    color: #d02e6a;
}
.btn-r{
    border-radius: 4px;
}

// #lpt {
//     width: 0;
//     height: 100%;
//     background-color: #6188f5;
//     background-repeat: repeat-x;
//     background-position: 0 0;
//     background-size: 16px 8px;
//     background-image: linear-gradient(315deg,transparent,transparent 33%,rgba(0,0,0,.12) 33%,rgba(0,0,0,.12) 66%,transparent 66%,transparent);
// }