.addr-list{
	list-style-type: none;
	li{
		height: 100px;
		line-height: 100px;
		width: 100px;
		float: left;
		border:1px solid #ccc; 
		border-radius: 4px;
		display: flex;
    	justify-content: center;
    	margin:0 10px 10px 0;
    	cursor: pointer;
    	&:hover{
    		box-shadow: 0 0 5px #fe0;
			border:1px solid #fe0; 
    	}
	}
}
a{
    display: flex;
    clear: both;
    justify-content: center;
}